*{
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans", serif;
}

.header-section{
    background-image: url('img/best-delicious-food-wallpaper-preview\ 1920x1080.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    color: white; */
}
.hero-content h1{
      font-size: 4rem;
      margin-bottom: 20px;
      color: rgb(249, 253, 249);
}
.hero-content p{
    font-size: 1.5rem;
    color: rgb(247, 253, 253);
    margin-bottom: 30px;
}
.btn-custom{
    background-color: rgb(164, 10, 247);
    border: none;
    border-radius: 50px;
    padding: 15px 30px; 
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    transition: background-color 0.10c ease;
}
.btn-custom:hover{
    background-color: blue;
}